

p {
    display: inline-block;
}

#row1 {
  background-image:
        url("bilder/stock1.jpg");
  background-position: center;
}

#row1 h1{
  position: absolute;
  left: 5%;
  bottom: 20%;
  color:white;
  text-align: left;
  font-size: 6vw;
  line-height: 10px;
  font-weight: 800;
  padding-bottom: 20px;
}

#row1 h3{
  position: absolute;
  left: 5%;
  bottom: 5%;
  color:white;
  text-align: left;
  font-size: 4vw;
  line-height: 100px;
  font-weight: 800;
}

#row1Bilde{
  width: 70%;
}

#row2Box{
    position: absolute;
    width: 80%;
    height: 60%;
    margin-top: 10%;
    margin-left: 10%;
    background: red;
}

#row2Bilde{
  width: 40%;
}

#row2Text{
  position: absolute;
  right: 5%;
  top: 30%;
}

#row2Text h1{
  font-size: 3vw;
  padding-bottom: 10px;
  font-weight: 800;
}

#row2Text p {
  font-size: 1.5vw;
  font-weight: 600;
}

#row3Box{
    position: absolute;
    width: 80%;
    height: 60%;
    margin-top: 10%;
    margin-left: 10%;
    background: red;
}

#row3Bilde{
  width: 40%;
  position: absolute;
  right: 5%;
}

#row3Text{
  position: absolute;
  left: 5%;
  top: 30%;
}

#row3Text h1{
  font-size: 3vw;
  padding-bottom: 10px;
  font-weight: 800;
}

#row3Text p {
  font-size: 1.5vw;
  font-weight: 600;
}

#row4Box{
    position: absolute;
    width: 80%;
    height: 60%;
    margin-top: 10%;
    margin-left: 10%;
    background: red;
}

#row4Bilde{
  width: 40%;
}

#row4Text{
  position: absolute;
  right: 5%;
  top: 30%;
}

#row4Text h1{
  font-size: 3vw;
  padding-bottom: 10px;
  font-weight: 800;
}

#row4Text p {
  font-size: 1.5vw;
  font-weight: 600;
}

#row5Top{
  background-image:
        url("bilder/stock2.jpg");
      background-position: center;
      height:100%;
      padding-top: 10%;
      text-align: center;

}
#row5 h1{
  color: white;
  font-size: 2vw;
  padding-bottom: 20px;
  font-weight: 800;
}

#row5Bottom{
  position: absolute;
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  background: red;
}

#awards{
  position: absolute;
  width: 100%;
  margin-top: 15%;
  margin-left: 5%;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1vw;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #3bd400;
  border-color: #3bd400;
  border-radius: 15px;
  margin-bottom: 10%;
}

button:hover {background-color: #22f000}

table{
  position: absolute;
  width: 100%;
  background: red;
}

th{
  font-size: 1.3vw;
}

td{
  padding-left: 10%;
  font-size:0.9vw;
}
