p {
    display: inline-block;
}

#row1 {
  background-image:
        linear-gradient(
          rgb(0, 0, 120, 0.85),
          rgb(0, 0, 120, 0.85)
        ),
        url("bilder/stock1.jpeg");
      background-position: center;
}

#row1 h1{
  position: absolute;
  left: 5%;
  bottom: 20%;
  color:white;
  text-align: left;
  font-size: 6vw;
  line-height: 10px;
  font-weight: 800;
  padding-bottom: 20px;
}

#row1 h3{
  position: absolute;
  left: 5%;
  bottom: 5%;
  color:white;
  text-align: left;
  font-size: 4vw;
  line-height: 100px;
font-weight: 800;
}

#row1Bilde{
  width: 70%;
}

#row2Text{
  position: absolute;
  right: 5%;
  top: 30%;
}

#row2Text h1{
  font-size: 3vw;
  padding-bottom: 10px;
  font-weight: 800;
}

#row2Text p {
  font-size: 1.5vw;
  font-weight: 600;
}

#row3Text{
  position: absolute;
  left: 5%;
  top: 30%;
}

#row3Text h1{
  font-size: 3vw;
  padding-bottom: 10px;
  font-weight: 800;
}

#row3Text p {
  font-size: 1.5vw;
  font-weight: 600;
}

#row4Text{
  position: absolute;
  right: 5%;
  top: 30%;
}

#row4Text h1{
  font-size: 3vw;
  padding-bottom: 10px;
  font-weight: 800;
}

#row4Text p {
  font-size: 1.5vw;
  font-weight: 600;
}

#row5Top{
  background-image:
        linear-gradient(
          rgb(0, 0, 120, 0.85),
          rgb(0, 0, 120, 0.85)
        ),
        url("bilder/stock2.jpeg");
      background-position: center;
      height:50%;
      padding-top: 10%;
      text-align: center;

}
#row5 h1{
  color: white;
  font-size: 2vw;
  padding-bottom: 20px;
  font-weight: 800;
}

#awards{
  padding: 3% 0% 0% 19%;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1vw;
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: #3bd400;
  border-color: #3bd400;
  border-radius: 15px;

}

button:hover {background-color: #22f000}

table{
  padding-left: 27%;
}

th{
  font-size: 1.3vw;
  padding: 5% 0% 5% 0%;
}

td{
  padding-left: 50px;
  font-size:0.9vw;
}
